/*淘宝reset*/

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
th,
td {
	margin: 0;
	padding: 0;
}

body,
button,
input,
select,
textarea {
	font: 12px/1.5tahoma, arial, \5b8b\4f53;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
}

address,
cite,
dfn,
em,
var {
	font-style: normal;
}

code,
kbd,
pre,
samp {
	font-family: couriernew, courier, monospace;
}

small {
	font-size: 12px;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: none;
	color: black;
}

sup {
	vertical-align: text-middle;
}

sub {
	vertical-align: text-bottom;
}

legend {
	color: #000;
}

fieldset,
img {
	border: 0;
}

button,
input,
select,
textarea {
	font-size: 100%;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html,
body {
	width: 100%;
	background-color: aliceblue;
	height: 1000px;
}

/* 清浮动 */

.clearfix {
	*zoom: 1;
}

.clearfix:before,
.clearfix:after {
	display: table;
	line-height: 0;
	content: "";
}

.clearfix:after {
	clear: both;
}

/*-------------------------------------------*/

/*主页css开始*/

.wrapper {
	width: 100%;
	height: 100%;
}

.wrapper .top-nav-wrap {
	width: 100%;
	height: 35px;
}

.wrapper .top-nav-wrap .top-nav {
	width: 1190px;
	height: 35px;
	margin: 0 auto;
	background-color: #F5F5F5;
}

.wrapper .top-nav-wrap .top-nav .top-nav-l {
	float: left;
}

/*左边容器浮动*/

.wrapper .top-nav-wrap .top-nav .top-nav-r {
	float: right;
}

/*右边容器浮动*/

.wrapper .top-nav-wrap .top-nav li {
	float: left;
	margin-right: 7px;
}

/*使两个容器li浮动*/

.wrapper .top-nav-wrap .top-nav li a {
	color: #6c6c6c;
	font-size: 12px;
	line-height: 35px;
	padding: 0 6px;
}

.wrapper .top-nav-wrap .top-nav li a:hover {
	color: #FF4500;
}

.wrapper .top-nav-wrap .top-nav .login {
	color: #FF4500;
}

.wrapper .top-nav-wrap .top-nav .china {
	color: #3c3c3c;
	font-size: 12px;
	line-height: 35px;
}

.wrapper .top-nav-wrap .top-nav .china-span {
	padding: 0 6px;
}

.wrapper .top-nav-wrap .top-nav .top-nav-r .cutOff span {
	color: #ddd;
	line-height: 35px;
}

.wrapper .top-nav-wrap .top-nav .iconfont {
	font-size: 12px;
}

/* 导航结束 */

/* 搜索框开始 */

.top-wrap {
	width: 100%;
	height: 97px;
	background: #ffffff;
	padding: 24px 0 9px 0;
	position: relative;
}

/* 头部搜索框 */

.top-wrap .search-con {
	width: 1190px;
	height: 88px;
	margin: 0 auto;
}

/* 头部搜索框logo */

.top-wrap .search-con .logo-box {
	width: 190px;
	height: 58px;
	display: inline-block;
	vertical-align: middle;
	background-image: url("img/logo.png");
	background-repeat: no-repeat;
}

.top-wrap .search-con .logo-box img {
	width: 100%;
	height: 100%;
}

/* 头部搜索框主页面 */

.top-wrap .search-con .search-wrap {
	width: 627px;
	height: 87px;
	display: inline-block;
	vertical-align: middle;
	margin-left: 50px;
}

/* 头部搜索框主页面上部 */

.top-wrap .search-con .search-wrap .search-bd {
	width: 627px;
	height: 62px;
}

/*--search区域头部三个标签*/

.search-wrap .search-bd .search-tab {
	width: 610px;
	height: 22px;
	margin-left: 17px;
}

.search-bd .search-tab li {
	float: left;
	width: 36px;
	height: 22px;
	text-align: center;
	line-height: 22px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	margin-right: 4px;
}

.search-bd .search-tab li a {
	font-size: 12px;
	color: #f40;
}

.search-tab li:hover {
	background-color: #ffeee5;
}

/* 头部搜索框主页面上部标签选中样式 */

.search-wrap .search-bd .search-tab .top-select {
	background: linear-gradient(to right, #ff9000 0, #ff5000 100%);
	font-weight: 700;
}

.search-wrap .search-bd .search-tab .top-select a {
	color: #fff;
}

/* 头部搜索框主页面中部开始 */

/* search区域搜索栏输入框 */

.search-bd .search-panel {
	width: 630px;
	height: 40px;
	/* border: 1px solid black; */
	position: relative;
}

/* 搜索按钮 */

.search-btn {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 100;
	width: 74px;
	height: 40px;
	overflow: hidden;
	text-align: center;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
}

.search-btn button {
	font-size: 18px;
	font-weight: 800;
	border: none;
	color: #fff;
	cursor: pointer;
	background-image: linear-gradient(to right, #ff9000 0, #ff5000 100%);
	background-repeat: repeat-x;
	width: 100%;
	height: 100%;
}

.search-bd .search-panel .search-panel-hd {
	margin-right: 74px;
	border: 2px solid #ff5000;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border-right: none;
	overflow: hidden;
	height: 36px;
}

.search-panel .search-panel-hd i {
	z-index: 2;
	font-size: 16px;
	position: absolute;
	top: 9px;
	left: 14px;
	color: #666;
}

.search-panel .search-panel-hd i img {
	width: 20px;
	height: 20px;
}

.search-panel-input {
	height: 36px;
	overflow: hidden;
	width: 472px;
}

.search-panel-input input {
	position: absolute;
	top: 9px;
	left: 40px;
	border: 0px;
	outline: none;
	font-size: 18px;
}

/* cam图标 */

.search-panel-cam {
	position: absolute;
	top: 5px;
	right: 90px;
}

.search-panel-cam img {
	width: 25px;
	height: 25px;
}

/* 头部搜索框主页面下部 */

.search-wrap .search-ft {
	width: 613px;
	height: 18px;
	margin-top: 5px;
}

.search-ft ul li {
	float: left;
}

.search-ft a {
	color: #666666;
	font-size: 12px;
	margin-right: 5px;
	line-height: 18px;
}

.search-ft a:hover,
.search-ft .select a {
	color: #ff5000;
	text-decoration: none;
}

.search-ft .more {
	float: right;
	margin-top: 1px;
}

/* 头部搜索框二维码 */

.top-wrap .code-warp {
	/* float: right; */
	width: 76px;
	height: 90px;
	margin-left: 120px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	position: relative;
	border: 1px solid #eeeeee;
}

.code-warp span {
	line-height: 20px;
	font-size: 12px;
	color: #ff5000;
	width: 76px;
	text-align: center;
}

.code-warp .code-img {
	width: 62px;
	height: 62px;
	background-image: url("img/code.png");
	background-repeat: no-repeat;
	margin: 0 auto;
}

.code-warp .close {
	width: 14px;
	height: 14px;
	border: 1px solid #eeeeee;
	color: #eeeeee;
	position: absolute;
	top: 0px;
	left: -16px;
	line-height: 14px;
}
/* 中部主导航开始 */
.scrren-nav-wrap{
	width: 100%;
	height: 30px;
	background-image: linear-gradient(to right, #ff9000 0, #ff5000 100%);
	background-repeat: repeat-x;
}
.scrren-nav-wrap .scrren-nav-con{
	width: 1190px;
	height: 30px;
	margin: 0 auto;
	background: ;
	line-height: 30px;
	position: relative;
	color: #ffffff;
	
	/* background-image:linear-gradient(to right,#ff9000 0, #ff5000   100%); */
}
.scrren-nav-wrap .scrren-nav-con h2{
	float: left;
	width: 190px;
	font-size: 16px;
	text-align: center;
	background-color: #ff5000;
	
	line-height: 30px;
	font-weight: 700;
}
.scrren-nav-wrap .scrren-nav-con ul{
	float: left;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	font-weight: 700;
	

}
.scrren-nav-wrap .scrren-nav-con ul li{
	float: left;
	font-size: 16px;
	text-align: center;
	line-height: 30px;
	font-weight: 700;
	color: #ffffff;
	margin: 0 3px;
    text-align: center;
    padding: 0 4px;
}
.scrren-nav-wrap .scrren-nav-con ul li a{
	font-size: 14px;
	text-align: center;
	line-height: 30px;
	font-weight: 900;
	color: #ffffff;
	padding: 0 5px;
}